<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
	<title>服务器托管</title>
	<link rel="stylesheet" type="text/css" href="css/public.css"/>
	<link rel="stylesheet" type="text/css" href="css/create-order.css"/>
</head>
<body>
<div class="head">
	<div class="h-box">
		<div class="logo-box">
			<img src="images/head_logo_sub.png"/>
		</div>
		<div class="nav">
			<ul>
				<li>
					<a href="index.html" class="trs">首页</a>
				</li>
				<li>
					<a href="idc.html" class="trs">IDC</a>
				</li>
				<li class="active">
					<a href="javascript:;" class="trs">云主机</a>
				</li>
				<li>
					<a href="javascript:;" class="trs">SSL</a>
				</li>
				<li>
					<a href="m/main.html" class="trs">控制台</a>
				</li>
			</ul>
			<div class="msg-box">
				<a href="javascript:;" class="trs">登陆</a>
				<span class="f-h">/</span>
				<a href="javascript:;" class="trs">注册</a>
			</div>

			<img src="images/nav_line_sub.png" class="nav-line">
		</div>
	</div>
</div>

<div class="creat-order">
	<div class="jd-box">
		<div style="width: 100%;height: 1px;"></div>
		<div class="jdt-lines" data="1">
			<div class="line line-1"></div>
			<div class="line line-2"></div>
			<div class="line line-3"></div>
			<div class="line line-4"></div>

			<div class="yuan y-1">
				<span>1</span>
				<span class="icon"></span>
				<p>确认订单</p>
			</div>
			<div class="yuan y-2">
				<span>2</span>
				<span class="icon"></span>
				<p>在线支付</p>
			</div>
			<div class="yuan y-3">
				<span>3</span>
				<span class="icon"></span>
				<p>支付结果</p>
			</div>
		</div>

		<div class="clear"></div>
	</div>

	<div class="lists">
		<ul>
			<li>
				<div class="tle">产品类型：</div>
				<div class="cont">
					<P>
						<span class="t">服务器租用</span>
						<span class="c"></span>
					</P>
				</div>

				<div class="clear"></div>
			</li>

			<li>
				<div class="tle">产品参数：</div>
				<div class="cont">
					<P>
						<span class="t">服务器品牌：</span>
						<span class="c">Dell</span>
					</P>
					<P>
						<span class="t">线路选择：</span>
						<span class="c">电信</span>
					</P>
					<P>
						<span class="t">产品型号：</span>
						<span class="c">PowerEdge R720</span>
					</P>
					<P>
						<span class="t">数据中心：</span>
						<span class="c">上海呼兰</span>
					</P>
					<P>
						<span class="t">CPU: </span>
						<span class="c">E-2670至强八核2.6GHZ  1块</span>
					</P>
					<P>
						<span class="t">服务器高度：</span>
						<span class="c">4U</span>
					</P>
					<P>
						<span class="t">内存：</span>
						<span class="c">8GB DDR3 1块</span>
					</P>
					<P>
						<span class="t">公网IP：</span>
						<span class="c">3个</span>
					</P>
					<P>
						<span class="t">raid卡：</span>
						<span class="c">H310</span>
					</P>
					<P>
						<span class="t">公网带宽：</span>
						<span class="c">10M</span>
					</P>
					<P>
						<span class="t">电源：</span>
						<span class="c">H330</span>
					</P>
					<P>
						<span class="t">网络接口：</span>
						<span class="c">1个/100/1000mbps自适应网卡</span>
					</P>
					<P>
						<span class="t">raid:  </span>
						<span class="c">无raid</span>
					</P>
					<P>
						<span class="t">操作系统：</span>
						<span class="c">windows windows server2003 32bit</span>
					</P>
					<P>
						<span class="t">硬盘：</span>
						<span class="c">300GB 15000转SAS  企业级<br/>300GB 15000转SAS  企业级</span>
					</P>
					
				</div>

				<div class="clear"></div>
			</li>

			<li>
				<div class="tle">购买时长/数量：</div>
				<div class="cont">
					<P>
						<span class="t">1年  2台</span>
						<span class="c"></span>
					</P>
				</div>

				<div class="clear"></div>
			</li>

			<li>
				<div class="tle">发票信息：</div>
				<div class="cont">
					<P>
						<span class="t">上海歆羨网络科技有限公司</span>
						<span class="c"></span>
					</P>
				</div>

				<div class="clear"></div>
			</li>

			<li>
				<div class="tle">联系人信息：</div>
				<div class="cont">
					<P>
						<span class="t">联系姓名：</span>
						<span class="c">王大锤</span>
					</P>
					<P>
						<span class="t">联系电话：</span>
						<span class="c">12345678901</span>
					</P>
					<P>
						<span class="t">联系邮箱：</span>
						<span class="c">123@qq.com</span>
					</P>
					<P>
						<span class="t">联系地址：</span>
						<span class="c">上海市宝山区继云路宝山大厦某某某号 </span>
					</P>
				</div>

				<div class="clear"></div>
			</li>
		</ul>

		<div class="clear"></div>
	</div>

	<div class="count">
		<div class="c-box">
			<p class="price-t">金额合计：<span>￥12312.12</span></p>
			<p class="prx">IDC租用/托管服务协议<br/><input type="checkbox"/>我已阅读，并同意以上协议</p>
			<input type="button" value="同意协议，去结算" class="sub-btn" />
		</div>
	</div>

</div>

<div class="foot-box">
	<div class="foot">
		<div class="site-map">
			<div class="l">
				<p class="title">售前咨询</p>
				<p class="c c-1">
					IDC售前使用、合作的相关问题请直接<br/>
					拨打我们的服务电话：021-12345678
				</p>
				<p class="c c-2">
					点击下方QQ按钮，直接在线沟通，<br/>	
					专业的客服人员为您服务
				</p>
				<p class="c c-3">
					<a href="javascript:;" class="kf-icon-qq">在线客服</a>
					<a href="javascript:;" class="kf-icon-qq">在线客服</a>
					<a href="javascript:;" class="kf-icon-qq">在线客服</a>
				</p>
			</div>
			<div class="r">
				<p class="title">IDC售后支持</p>
				<ul>
					<li>
						<p>上海呼兰数据中心呼兰路23919号</p>
						<p>联系热线：2938293</p>
					</li>
					<li>
						<p>上海南汇数据中心南汇路23919号</p>
						<p>联系热线：2938293</p>
					</li>
					<li>
						<p>上海张江数据中心张江路23919号</p>
						<p>联系热线：2938293</p>
					</li>
					<li>
						<p>香港数据中心香港路23919号</p>
						<p>联系热线：2938293</p>
					</li>
				</ul>
				<p class="c"><a href="javascript:;">值班QQ：12345678910</a></p>
			</div>
		</div>


		<div class="line" style="margin-top: 0px;">
			<img src="images/index_line_bg.png">
		</div>

	</div>

	<div class="f-m-box">
		<p class="show-work-time">工作日&nbsp;&nbsp;09:00—17:00</p>
		<p class="site-nav"><a href="javascript:;">关于我们</a>|<a href="javascript:;">联系我们</a>|<a href="javascript:;">加入我们</a><span>TEL:021—1234567890</span></p>
		<p class="icp-text">Copyright©2013-2016 nanjingdai All Rights Reserved 上海歆羨有限公司 版权所有    网站备案号：苏ICP备0000000</p>
	</div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/head.js"></script>
</body>
</html>