<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
	<title>CDN加速</title>
	<link rel="stylesheet" type="text/css" href="css/public.css"/>
	<link rel="stylesheet" type="text/css" href="css/idc-cdn.css"/>
</head>
<body>
<div class="head">
	<div class="h-box">
		<div class="logo-box">
			<img src="images/head_logo_sub.png"/>
		</div>
		<div class="nav">
			<ul>
				<li><a href="javascript:;" class="trs">首页</a></li>
				<li class="active"><a href="javascript:;" class="trs">IDC</a></li>
				<li><a href="javascript:;" class="trs">云主机</a></li>
				<li><a href="javascript:;" class="trs">SSL</a></li>
				<li><a href="m/main.html" class="trs">控制台</a></li>
			</ul>
			<div class="msg-box">
				<a href="javascript:;" class="trs">登陆</a>
				<span class="f-h">/</span>
				<a href="javascript:;" class="trs">注册</a>
			</div>

			<img src="images/nav_line_sub.png" class="nav-line">
		</div>
	</div>
</div>

<div class="banner" style="background-image: url('images/idc_cdn_banner.jpg');">
	<div class="btn-box"><input type="button" value="咨询我们" class="trs"/></div>
</div>

<div class="idc-cdn">

	<div class="box-1">
		<div class="c-box l">
			<p class="title" style="background-image: url('images/idc_cdn_item_l_title_icon.png');">
				页面加速
			</p>
			<p class="sub-title" >
				提高用户访问网站的次数
			</p>
			<p class="c">
				歆羨页面加速产品具有超强的网络分发功能，可将源站点的静态内容分发到遍布全国的CDN节点缓存服务器上，并通过全球负载均衡智能DNS集群智能调控，保证用户访问响应速度最快的CDN边缘集群。大量的访问请求通过歆羨CDN加速服务得到快速的响应，显著提高访问速度， 避免了源站因访问量过大而造成服务器负载过量和带宽不足等问题。
				<span class="icon icon-lt"></span>
				<span class="icon icon-rb"></span>
			</p>
			
		</div>
		<div class="c-box r">
			<p class="title" style="background-image: url('images/idc_cdn_item_r_title_icon.png');">
				下载加速
			</p>
			<p class="sub-title">遍布全国节点，保证下载服务的有效覆盖</p>
			<p class="c">
				歆羨推出了专业智能的下载加速服务，可以为ICP提供快速高效的下载服务解决方案，采用歆羨CDN下载加速后，源站先将下载数据传输至歆羨的下载中心，下载数据将按优化策略分发至指定的用户下载专用歆羨CDN边缘集群，最终用户访问时被全球负载均衡集群智能定向到响应最快的 CDN节点，显著提高用户的下载体验。
				<span class="icon icon-rt"></span>
				<span class="icon icon-lb"></span>
			</p>

			
		</div>
	</div>

	<div class="box-2">
		<div class="content">
			<p class="title">功能特性</p>
			<div class="line"><span class="point"></span></div>

			<p class="sub-title">
				<span>高</span>
				<span>稳</span>
				<span>定</span>
				<span>快</span>
				<span>丰</span>
				<span>多</span>
			</p>
			<p class="context">
				支持标准 HTTP 协议的高效下载；<br/>
				支持 HTTPS 协议保护用户隐私和安全；<br/>
				支持 FTP、P2SP 等下载方式满足客户的定制化需求；<br/>
				歆羨互联私有的高速传输协议保证文件快速部署到用户附近的节点；<br/>
				可定制格式的访问日志为客户进行服务统计和用户行为分析提供丰富而方便获取的数据；<br/>
				多重保护的安全措施，防止文件被盗链，保护客户的利益。
			</p>
		</div>
	</div>

	<div class="box-3">
		<div class="content">
			<p class="title">功能特性</p>
			<div class="line"><span class="point"></span></div>

			<div class="items">

				<div class="item">
					<div class="icon" style="background-image: url('images/idc_cdn_box3_icon_01.png');"></div>
					<p class="tle">提速</p>
					<p class="ms">
						用户直接访问对其响应速度最快的CDN<br/>
						边缘集群，保证了下载速度；
					</p>
				</div>

				<div class="item">
					<div class="icon" style="background-image: url('images/idc_cdn_box3_icon_02.png');"></div>
					<p class="tle">稳定</p>
					<p class="ms">
						提高访问稳定性，当源站服务器短时间<br/>
						出现故障时不影响用户访问；
					</p>
				</div>

				<div class="item">
					<div class="icon" style="background-image: url('images/idc_cdn_box3_icon_03.png');"></div>
					<p class="tle">减压</p>
					<p class="ms">
						将源站静态内容分发到歆羨全国CDN加速节点上，<br/>
						减轻源站服务器和宽带压力；
					</p>
				</div>

				<div class="item">
					<div class="icon" style="background-image: url('images/idc_cdn_box3_icon_04.png');"></div>
					<p class="tle">互通</p>
					<p class="ms">
						完美解决跨运营跨地域访问难题，特别是<br/>
						南北互通问题访问速度；
					</p>
				</div>

				<div class="item">
					<div class="icon" style="background-image: url('images/idc_cdn_box3_icon_05.png');"></div>
					<p class="tle">便捷</p>
					<p class="ms">
						不需要额外购买任何设备、安装任何软件、<br/>
						用户方便部署；
					</p>
				</div>

				<div class="item">
					<div class="icon" style="background-image: url('images/idc_cdn_box3_icon_06.png');"></div>
					<p class="tle">服务</p>
					<p class="ms">
						7*24*365专业客服支持，<br/>
						30分钟快速响应。
					</p>
				</div>

			</div>			
		</div>
	</div>

</div>

<div class="foot">
	<div class="site-map">
		<div class="l">
			<p class="title">售前咨询</p>
			<p class="c c-1">
				IDC售前使用、合作的相关问题请直接<br/>
				拨打我们的服务电话：021-12345678
			</p>
			<p class="c c-2">
				点击下方QQ按钮，直接在线沟通，<br/>	
				专业的客服人员为您服务
			</p>
			<p class="c c-3">
				<a href="javascript:;">在线客服</a>
				<a href="javascript:;">在线客服</a>
				<a href="javascript:;">在线客服</a>
			</p>
		</div>
		<div class="r">
			<p class="title">IDC售后支持</p>
			<ul>
				<li>
					<p>上海呼兰数据中心呼兰路23919号</p>
					<p>联系热线：2938293</p>
				</li>
				<li>
					<p>上海南汇数据中心南汇路23919号</p>
					<p>联系热线：2938293</p>
				</li>
				<li>
					<p>上海张江数据中心张江路23919号</p>
					<p>联系热线：2938293</p>
				</li>
				<li>
					<p>香港数据中心香港路23919号</p>
					<p>联系热线：2938293</p>
				</li>
			</ul>
			<p class="c"><a href="javascript:;">值班QQ：12345678910</a></p>
		</div>
	</div>


	<div class="line" style="margin-top: 0px;">
		<img src="images/index_line_bg.png">
	</div>

	<div class="f-m-box">
		<p class="show-work-time">工作日&nbsp;&nbsp;09:00—17:00</p>
		<p class="site-nav"><a href="javascript:;">关于我们</a>|<a href="javascript:;">联系我们</a>|<a href="javascript:;">加入我们</a><span>TEL:021—1234567890</span></p>
		<p class="icp-text">Copyright©2013-2016 nanjingdai All Rights Reserved 上海歆羨有限公司 版权所有    网站备案号：苏ICP备0000000</p>
	</div>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/head.js"></script>
</body>
</html>