<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
	<title>IDC</title>
	<link rel="stylesheet" type="text/css" href="css/public.css"/>
	<link rel="stylesheet" type="text/css" href="css/idc.css"/>
</head>
<body>
<div class="head">
	<div class="h-box">
		<div class="logo-box">
			<img src="images/head_logo.png"/>
		</div>
		<div class="nav">
			<ul>
				<li><a href="index.html" class="trs">首页</a></li>
				<li class="active"><a href="javascript:;" class="trs">IDC</a></li>
				<li><a href="cloud-host.html" class="trs">云主机</a></li>
				<li><a href="javascript:;" class="trs">SSL</a></li>
				<li><a href="m/main.html" class="trs">控制台</a></li>
			</ul>
			<div class="msg-box">
				<a href="javascript:;" class="trs">登陆</a>
				<span class="f-h">/</span>
				<a href="javascript:;" class="trs">注册</a>
			</div>

			<img src="images/nav_line.png" class="nav-line">
		</div>
	</div>
</div>


<div class="idc">
	<div class="introduce">
		
		<div class="m-1">
			<p class="title">租用托管</p>
			<p class="c">
				歆羨依据企业不同的发展阶段，高配置低价位，顶级海内外多线机房资源任意选，有效降低服务器的运维难度和整体it成本，并保障服务器的安全性和稳定性，节约大量的人力和资金投入。
			</p>
		</div>

		<div class="m-2">
			<p class="title">产品与服务</p>
			<p class="c">
				提高网站、软件、办公系统等服务的访问速度，将您的服务器托管到具有完善机房设施、高品质网络、丰富带宽和运营经验的网络数据中心内，使系统达到安全、可靠、稳定、高效运行的目的。
			</p>
		</div>

		<div class="item-box">
			<div class="item">
				<div class="icon" style="background-image: url('images/idc_item_icon_1.png');"></div>
				<p class="title trs">服务器租用</p>
				<div class="img-box">
					<img src="images/idc_item_img_01.jpg">
				</div>
				<p>用户无需自己购买服务器，根据业务需要，提出硬件配置要求。</p>
				<input type="button" value="立即配置" class="trs" onclick="javascript:window.location.href='idc-rent.html';"/>
			</div>
			<div class="item">
				<div class="icon" style="background-image: url('images/idc_item_icon_2.png');"></div>
				<p class="title trs">服务器托管</p>
				<div class="img-box">
					<img src="images/idc_item_img_02.jpg">
				</div>
				<p>由歆羨提供完成机房网络宽带。</p>
				<input type="button" value="立即配置" class="trs" onclick="javascript:window.location.href='idc-hosting.html';"/>
			</div>
			<div class="item">
				<div class="icon" style="background-image: url('images/idc_item_icon_3.png');"></div>
				<p class="title trs">cdn加速</p>
				<div class="img-box">
					<img src="images/idc_item_img_03.jpg">
				</div>
				<p>多节点全网覆盖，全完稳定的网络加速服务</p>
				<input type="button" value="了解详情" class="trs" onclick="javascript:window.location.href='idc-cdn.html';"/>
			</div>
		</div>

	</div>

	<div class="data-center">
		<div class="dc-introduce">
			<p class="title">数据中心介绍</p>
			<p class="sub_title">INTRODUCE</p>
			<p class="context">
				歆羨在全国各地拥有高速的骨干网络Internet出口和丰富的带宽资源，可以根据客户需要，提供共享、独享等多种高品质的带宽资源。
			</p>

			<p class="tle">网络安全保障</p>
			<p class="tle-txt">
				网络基础设施一流<br/>
				保证安全可靠的存放环境
			</p>
			<p class="tle-txt">
				网络连通率99.99%<br/>
				多线路骨干网接入，网络畅通无阻
			</p>

			<p class="tle">
				实时监控管理
			</p>
			<p class="tle-txt">
				网络连接管理<br/>
				实时监测宽带使用情况
			</p>
			<p class="tle-txt">
				流量监视<br/>
				提供免费网络流量报告
			</p>
		</div>

		<div class="line">
			<img src="images/index_line_bg.png">
		</div>
	</div>
	
</div>
<div class="foot">
		<div class="site-map">
			<div class="l">
				<p class="title">售前咨询</p>
				<p class="c c-1">
					IDC售前使用、合作的相关问题请直接<br/>
					拨打我们的服务电话：021-12345678
				</p>
				<p class="c c-2">
					点击下方QQ按钮，直接在线沟通，<br/>	
					专业的客服人员为您服务
				</p>
				<p class="c c-3">
					<a href="javascript:;">在线客服</a>
					<a href="javascript:;">在线客服</a>
					<a href="javascript:;">在线客服</a>
				</p>
			</div>
			<div class="r">
				<p class="title">IDC售后支持</p>
				<ul>
					<li>
						<p>上海呼兰数据中心呼兰路23919号</p>
						<p>联系热线：2938293</p>
					</li>
					<li>
						<p>上海南汇数据中心南汇路23919号</p>
						<p>联系热线：2938293</p>
					</li>
					<li>
						<p>上海张江数据中心张江路23919号</p>
						<p>联系热线：2938293</p>
					</li>
					<li>
						<p>香港数据中心香港路23919号</p>
						<p>联系热线：2938293</p>
					</li>
				</ul>
				<p class="c"><a href="javascript:;">值班QQ：12345678910</a></p>
			</div>
		</div>


		<div class="line" style="margin-top: 0px;">
			<img src="images/index_line_bg.png">
		</div>

		<div class="f-m-box">
			<p class="show-work-time">工作日&nbsp;&nbsp;09:00—17:00</p>
			<p class="site-nav"><a href="javascript:;">关于我们</a>|<a href="javascript:;">联系我们</a>|<a href="javascript:;">加入我们</a><span>TEL:021—1234567890</span></p>
			<p class="icp-text">Copyright©2013-2016 nanjingdai All Rights Reserved 上海歆羨有限公司 版权所有    网站备案号：苏ICP备0000000</p>
		</div>
	</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/head.js"></script>
</body>
</html>