<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="css/public.css"/>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>
<body>
<div class="index">
	<div style="width: 100%;height: 1px;"></div>
	
	<div class="banner">
		<div class="logo-box"><img src="images/logo.png"/></div>
		<div class="banner-txt">
			<img src="images/banner_txt.png"/>
		</div>
		<div class="banner-more">
			<input type="button" value="了解更多" class="banner-more-btn trs" onclick="javascript:window.location.href='idc.html';"/>
		</div>
	</div>

	<div class="item-du-menu">

		<div class="item">
			<div class="item-box">
				<p class="title">IDC产品</p>
				<p class="content">
					CPU：1核<br/>
					内存：1GB<br/>
					系统：Windows2008<br/>
					带宽：国际带宽1Mbps<br/>
					费用：75元/月
				</p>
			</div>
			<div class="btn-box">
				<input type="button" value="立即选购" class="menu-item-btn trs"/>
			</div>
		</div>

		<div class="item margin-lr">
			<div class="item-box">
				<p class="title">云主机</p>
				<p class="content">
					云服务器是一种简单高效、可弹性伸缩的计算服务，帮助您快速构建更稳定、安全的应用，提升运维效率，降低 IT 成本
				</p>
			</div>
			<div class="btn-box">
				<input type="button" value="立即选购" class="menu-item-btn trs"/>
			</div>
		</div>

		<div class="item">
			<div class="item-box">
				<p class="title">SSL证书</p>
				<p class="content">
					SSL证书，也称为服务器证书，用户通过http协议访问网站时，浏览器和服务器之间是明文传输，意味着用户填写的密码...
				</p>
			</div>
			<div class="btn-box">
				<input type="button" value="立即进入" class="menu-item-btn trs"/>
			</div>
		</div>

		<div class="clear"></div>
	</div>

	<div class="index-item index-item-idc">
		<div class="title">
			<p>什么是IDC产品？CDN又是什么？</p>
		</div>
		<p class="content">
			用来网络加速的，最典型的应用就是文件共享。寻找最适合的路由，导致网速更快。搭建CDN主要要注意DNS反向代理，要注意负载均衡，然后合理分配多台路由多台服务器
		</p>
	</div>

	<div class="index-item-idc-box">
		<p class="t1">
			<span>歆羨网络</span>云服务全新升级<br/>
			全力打造极速访问体验的<span>IDC产品</span>
		</p>
		<p class="t2">
			推出负载均衡器集群，可对进入流量进行分流，<br/>
			出流量经由多台 Virtual Gateway 分担负载，<br/>
			单IP可承载<span>1TB</span>出流量负载均衡器的后端直接连接任意的主机
		</p>

		<input type="button" value="查看更多" class="more-btn trs" />
	</div>

	<div class="index-item index-item-cloud-host">
		<div class="title-box">
			<img src="images/index_title_zs_ltline.png" class="i-lt" />
			<img src="images/index_title_zs_rbline.png" class="i-rb" />
			<p>
				<span>歆羨网络</span>云服务全新升级<br/>
				全力打造极速访问体验的<span>云主机</span>
			</p>
		</div>
		<div class="content">
				<div class="btn-box wdx trs">
					<span>稳定性</span>
				</div>
				<div class="btn-box aqx trs">
					<span>安全性</span>
				</div>
				<div class="btn-box icp trs">
					<span>快速备案</span>
				</div>
				<div class="btn-box xjb trs">
					<span>性价比高</span>
				</div>
				<div class="btn-box sh trs">
					<span>售后优势</span>
				</div>
		</div>
		<div class="more-btn-box">
			<input type="button" value="查看更多" class="more-btn trs"/>
		</div>
	</div>

	<div class="index-item index-item-ssl">
		<div class="title-box">
			<p class="title">
				什么是SSL证书？
			</p>
		</div>
		<p class="content">
			SSL证书，也称为服务器证书，是遵守SSL协议的一种数字证书，由全球信任的证书颁发机构(CA)验证服务器身份后颁发。将SSL证书安装在网站服务器上，可实现网站身份验证和数据加密传输双重功能。用户通过http协议访问网站时，浏览器和服务器之间是明文传输，这就意味着用户填写的密码、帐号、交易记录等机密...
		</p>

		<div class="more-btn-box">
			<input type="button" value="查看更多" class="more-btn trs"/>
		</div>

		<img src="images/index_line_bg.png" class="line"/>
	</div>

	<div class="index-item index-item-sel-we">
		<p class="title">他们选择了我们</p>
		<img src="images/index_sel_we.png"/>
	</div>

	<div class="foot">
		<div class="l">
			<p><a href="###">关于我们</a><span>|</span><a href="###">联系我们</a><span>|</span><a href="###">加入我们</a></p>
			<p>Copyright©2013-2016 nanjingdai All Rights Reserved 上海歆羨有限公司 版权所有    网站备案号：苏ICP备0000000</p>
		</div>
		<div class="r">
			<p>工作日  09:00—17:00</p>
			<p>021—1234567890</p>
		</div>
	</div>

</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
</body>
</html>